{{ define "news" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
</head>

<body>
    <h3>{{.main}}</h3>

    <div>当前用户:{{.username}}</div>
    <button class="button" onclick="getSession()">getSession</button>

</body>
<script>

    function getSession() {
        console.log('getsession');
        request('GET', '/session', function (response) {
            console.log('response', response);
        })
    }
    function request(method, path, callback) {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                callback && callback(xhr.responseText);
            }
        }
        xhr.open(method, path);
        xhr.send();
    }
</script>

</html>

{{end}}